<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home page</title>
    </head>
    <body>
        <form action='/submit-page' method="post">
            <p>
                <label for="name">Name</label><br>
                <input type="text" id="name" name="user_name">
            </p>
            <p>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="user_email">
            </p>
            <p>
                <label for="message">Message</label><br>
                <textarea id="message" name="user_message" rows="5" cols="33"></textarea>
            </p>
            <p><input type="submit" value="SUBMIT"></p>
        </form>
    </body>
</html>